CI_ENV=development

APP_BASE_URL=http://localhost/monitoring_server/
AGENT_PUBLIC_BASE_URL=
APP_INDEX_PAGE=index.php
APP_ENCRYPTION_KEY=change-this-to-a-long-random-string
APP_LOG_THRESHOLD=1
APP_COOKIE_SECURE=false
APP_CSRF_PROTECTION=true
APP_SESSION_COOKIE=server_monitoring_session
APP_SESSION_SAVE_PATH=sessions
APP_SESSION_EXPIRATION=3600
APP_SESSION_SAMESITE=Lax

DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=server_monitoring
DB_DRIVER=mysqli

APP_PORT=8080
DOCKER_APP_BASE_URL=http://localhost:8080/
DOCKER_DB_ROOT_PASSWORD=change-this-root-password
DOCKER_DB_DATABASE=server_monitoring
DOCKER_DB_USER=server_monitoring
DOCKER_DB_PASSWORD=change-this-db-password
