.DS_Store
.env
.env.*
!.env.example

*.pyc
__pycache__/
agent/__pycache__/

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

uploads/backup/*
uploads/files/*
uploads/tmp/*

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
