CI_ENV=production

APP_BASE_URL=https://azrilachdi.web.id/
DOCKER_APP_BASE_URL=https://azrilachdi.web.id/
AGENT_PUBLIC_BASE_URL=https://azrilachdi.web.id/
APP_INDEX_PAGE=index.php
APP_ENCRYPTION_KEY=change-this-to-a-long-random-production-key
APP_LOG_THRESHOLD=1
APP_COOKIE_SECURE=true
APP_CSRF_PROTECTION=true
APP_SESSION_COOKIE=server_monitoring_session
APP_SESSION_SAVE_PATH=sessions
APP_SESSION_EXPIRATION=3600
APP_SESSION_SAMESITE=Lax

APP_BIND_IP=127.0.0.1
APP_PORT=8080
DB_BIND_IP=127.0.0.1
DB_PORT=3307
NPM_NETWORK=docker_default

DOCKER_DB_ROOT_PASSWORD=change-this-root-password
DOCKER_DB_DATABASE=server_monitoring
DOCKER_DB_USER=server_monitoring
DOCKER_DB_PASSWORD=change-this-db-password
